<div class="resumen">
    <h2>Resumen de reserva</h2>
    @if(reserva$ | async; as reserva){
    <p><strong>Espacio:</strong>{{reserva.espacio}}</p>
    <p><strong>Responsable:</strong>{{reserva.responsable}}</p>
    <p><strong>Fecha:</strong>{{reserva.fecha}}</p>
    <p><strong>Hora:</strong>{{reserva.hora}}</p>
    <p><strong>Carrera solicitante:</strong>{{reserva.carrera}}</p>

    <button (click)="cancelarReserva()">Cancelar Reserva</button>
    }@else{
    <p>No existe una reserva registrada</p>
    }
</div>